img {
  height:30%;
  width:30%;
}

div {
  align:center;
  text-align: center;
}

input.placeholder {
    text-align: center;
}
h1 {
  display: inline;
  margin:10px;
}

 input {
   width:inherit;
 }
